.header {
    background-color: #FFCA42;
    color: #1B3764;
    text-align: center;
    padding: 55px 43px 0px;
}

.header__top {
    padding: 0 60px;
}

.header__logo {
    font-size: 60px;
    font-weight: 700;
    gap: 18px;
    display: inline-flex;
    align-items: center;
}

.header__subhead {
    font-size: 25px;
    margin: 20px 0 24px;
}

.header__info {
    font-size: 20px;
}

.header__bottom {
    display: flex;
    align-items: flex-end;
    margin-top: 60px;
}

.header__bannerpic--prior {
    margin-right: -150px;
    z-index: 2;
}

@media (width < 1114px) {
    .header__bottom {
        display: block;
    }

    .header__bannerpic {
        max-width: 90vw;
    }

    .header__bannerpic--prior {
        margin: 0;
    }
}

@media (width < 700px ) {
    .header__top {
        padding: 0 15px;
    }
    
    .header {
        padding: 10px;
    }
}

